*~
*.iml
.gradle
fm_IDL.*
/secret.*
/secrets.*
/local.gradle
/local.properties
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/libraries
/projectFilesBackup/
.DS_Store
/build
/*/build
/*/release
/captures
google-services.json
version.*
