*.iml
.gradle
fm_IDL.*
/fabric.properties
/secret.*
/secrets.*
/local.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/modules.xml
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/libraries
/projectFilesBackup/
.DS_Store
/build
/*/build
/*/release
/captures
ConcreteBillingDataProvider.java
version.*
