[submodule "hemlock-pro-assets"]
	path = hemlock-pro-assets
	url = https://github.com/kenstir/hemlock-pro-assets.git
[submodule "hemlock-assets"]
	path = hemlock-assets
	url = https://github.com/kenstir/hemlock-assets.git
