<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.evergreen.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET" /> 
	
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
	
	
    <application
        android:icon="@drawable/evergreen_launcher_icon"
        android:label="@string/app_name" 
        android:theme="@style/EvergreenTheme"
        >

        <activity
            android:name=".views.splashscreen.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            >
           	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>          
        </activity>
        
        <activity
            android:name=".views.MainScreenDashboard"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
             >
        </activity>
        
        <activity android:name=".views.AccountScreenDashboard"
            		android:theme="@android:style/Theme.Light.NoTitleBar"
            ></activity>
        
        <activity android:name="org.evergreen.android.views.ApplicationPreferences"></activity>
        
        <!-- First launch configuration activity -->
        <activity
            android:name="org.evergreen.android.views.ConfigureApplicationActivity"
            ></activity>
            
        <!-- Search -->    
            
        <activity android:name=".searchCatalog.SampleUnderlinesNoFade"
            android:label="Underlines/No Fade"
            >
        </activity>
		<activity android:name=".searchCatalog.MoreCopyInformation">
		</activity>
		<activity
            android:name=".searchCatalog.SearchCatalogListView"
            android:label="@string/app_name"
            >
        </activity>
        <activity 
            android:name=".searchCatalog.AdvancedSearchActivity">
        </activity>
        <activity android:name=".barcodescan.CaptureActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <!-- Checkout Activities -->
        <activity android:name=".accountAccess.checkout.ItemsCheckOutListView"></activity>
        
        <!-- Holds Activities -->
        <activity android:name=".accountAccess.holds.HoldsListView"></activity>
        <activity android:name=".accountAccess.holds.PlaceHold"></activity>
        <activity android:name=".accountAccess.holds.HoldDetails"></activity>
        
        <!-- Fines Activities -->
        <activity android:name=".accountAccess.fines.FinesActivity"></activity>
        
        
        <!-- Bookbags -->
        <activity android:name=".accountAccess.bookbags.BookbagsListView"></activity>
        <activity android:name=".accountAccess.bookbags.BookBagDetails"></activity>
        
    </application>
    
</manifest>