<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.cwmars"
          android:installLocation="auto"
          android:versionCode="9"
          android:versionName="1.3">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/evergreen_launcher_icon"
        android:label="@string/ou_app_label"
        android:theme="@style/Theme.AppCompat" >

        <!-- Notification receiver -->
        <receiver
            android:name="org.evergreen_ils.services.NotificationReceiver"
            android:process=":remote" >
        </receiver>
        <!-- Receiver to reinit notifications on reboot -->
        <!--
        <receiver android:name="org.evergreen_ils.services.RebootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.evergreen_ils.services.PeriodicServiceBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        -->

        <!--
        <service android:name="org.evergreen_ils.services.ScheduledIntentService" >
        </service>
        -->

        <activity
                android:name="org.evergreen_ils.views.splashscreen.SplashActivity"
                android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.evergreen_ils.views.ApplicationPreferences" >
        </activity>

        <!-- Search -->

        <activity
                android:name="org.evergreen_ils.searchCatalog.SampleUnderlinesNoFade"
                android:label="@string/search_details_title">
        </activity>
        <activity
                android:name="org.evergreen_ils.searchCatalog.MoreCopyInformation"
                android:label="@string/copy_information_title">
        </activity>
        <activity
                android:name="org.evergreen_ils.searchCatalog.SearchCatalogListView"
                android:label="@string/title_search"
                android:parentActivityName="org.evergreen_ils.views.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.evergreen_ils.views.MainActivity"/>
        </activity>
        <activity
                android:name="org.evergreen_ils.searchCatalog.AdvancedSearchActivity"
                android:label="@string/advanced_search">
        </activity>
        <activity
            android:name="org.evergreen_ils.barcodescan.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- Checkout Activities -->
        <activity
                android:name="org.evergreen_ils.accountAccess.checkout.ItemsCheckOutListView"
                android:label="@string/checkout_items_title"
                android:parentActivityName="org.evergreen_ils.views.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.evergreen_ils.views.MainActivity"/>
        </activity>

        <!-- Holds Activities -->
        <activity
                android:name="org.evergreen_ils.accountAccess.holds.HoldsListView"
                android:label="@string/hold_items_title"
                android:parentActivityName="org.evergreen_ils.views.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.evergreen_ils.views.MainActivity"/>
        </activity>
        <activity
                android:name="org.evergreen_ils.accountAccess.holds.PlaceHold"
                android:label="@string/hold_place_title">
        </activity>
        <activity
                android:name="org.evergreen_ils.accountAccess.holds.HoldDetails"
                android:label="@string/hold_details_title">
        </activity>

        <!-- Fines Activities -->
        <activity
                android:name="org.evergreen_ils.accountAccess.fines.FinesActivity"
                android:label="@string/title_fines"
                android:parentActivityName="org.evergreen_ils.views.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.evergreen_ils.views.MainActivity"/>
        </activity>

        <!-- Bookbags -->
        <activity android:name="org.evergreen_ils.accountAccess.bookbags.BookbagsListView" >
        </activity>
        <activity android:name="org.evergreen_ils.accountAccess.bookbags.BookBagDetails" >
        </activity>

        <activity
            android:name="org.evergreen_ils.auth.AuthenticatorActivity"
            android:label="@string/ou_account_label">
        </activity>

        <activity android:name="org.evergreen_ils.views.MainActivity">
        </activity>

        <service
            android:name="org.evergreen_ils.auth.AuthenticatorService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>
</manifest>
