<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    android:versionCode="153"
    android:versionName="4.4.0.1">
    <!-- REMINDER: use Major.Minor.Patch.Build where Build starts with 1 -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- [fcm] -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- uses-feature elements are used in Play Store device matching -->
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/ou_app_label"
        android:theme="@style/HemlockDarkNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <!-- Tried commenting out barcode_ui to see if it fixes bug https://issuetracker.google.com/issues/261579118
             ... it did not -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui"/>

        <!-- [fcm] -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <!--
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/accent" />
            -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_default_channel_id" />

        <!-- launch and main -->

        <activity
            android:name="net.kenstir.ui.view.launch.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.kenstir.ui.view.main.MainActivity"
            android:launchMode="singleTask">
        </activity>

        <!-- top-level activities -->

        <activity
            android:name="net.kenstir.ui.view.BarcodeActivity"
            android:label="@string/barcode_title"
            android:parentActivityName="net.kenstir.ui.view.main.MainActivity">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.bookbags.BookBagsActivity"
            android:label="@string/title_my_lists"
            android:parentActivityName="net.kenstir.ui.view.main.MainActivity">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.checkouts.CheckoutsActivity"
            android:label="@string/checkout_items_title"
            android:parentActivityName="net.kenstir.ui.view.main.MainActivity">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.FinesActivity"
            android:label="@string/title_fines"
            android:parentActivityName="net.kenstir.ui.view.main.MainActivity">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.holds.HoldsActivity"
            android:label="@string/hold_items_title"
            android:parentActivityName="net.kenstir.ui.view.main.MainActivity">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.messages.MessagesActivity"
            android:label="@string/title_messages"
            android:parentActivityName="net.kenstir.ui.view.main.MainActivity">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.OrgDetailsActivity"
            android:label="@string/title_library_info"
            android:parentActivityName="net.kenstir.ui.view.main.MainActivity">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.search.SearchActivity"
            android:label="@string/title_search"
            android:parentActivityName="net.kenstir.ui.view.main.MainActivity">
        </activity>

        <!-- secondary activities -->

        <activity
            android:name="net.kenstir.ui.view.bookbags.BookBagDetailsActivity"
            android:label="@string/title_list_details"
            android:parentActivityName="net.kenstir.ui.view.bookbags.BookBagsActivity">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.history.HistoryActivity"
            android:label="@string/title_checkout_history">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.holds.HoldDetailsActivity"
            android:label="@string/hold_details_title">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.holds.PlaceHoldActivity"
            android:label="@string/hold_place_title">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.messages.MessageDetailsActivity"
            android:label="@string/title_message_details">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.search.AdvancedSearchActivity"
            android:label="@string/advanced_search">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.search.CopyInformationActivity"
            android:label="@string/copy_information_title">
        </activity>
        <activity
            android:name="net.kenstir.ui.view.search.RecordDetailsActivity"
            android:label="@string/search_details_title">
        </activity>

        <!-- auth stuff -->

        <activity
                android:name="net.kenstir.ui.account.AuthenticatorActivity"
                android:label="@string/ou_account_label">
        </activity>
        <service
            android:name="net.kenstir.ui.account.AuthenticatorService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- [fcm] -->
        <service
            android:name="net.kenstir.ui.pn.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
