<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.evergreen_ils.auth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/evergreen_launcher_icon"
        android:label="@string/app_label"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".AuthenticatorActivity"
            android:label="@string/title_sign_in" >
        </activity>

        <service android:name=".AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator" />
        </service>

    </application>
    
</manifest>
